@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');



*
{ 
   
    outline:none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container
{   
  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 80vw;
}
.container p{
    text-align: center;
}

.navbar{
    display: flex;
    height:67px;
    color:#080707;
    font-family: 'Tilt Neon', cursive;

}

.navbar li{
    list-style:none;
    margin: 0px 12px;
}
.topleft
{   height:50vh;
    width:50%;
}
.topright
{   
    height:50vh;
    width:50%;

}
.section1
{
   background-color: #f4e9f6;
   
    height:50vh;
}
img{
    padding: 0px 20px; 
}




.container2
{   
   
    max-width: 1160px;
    margin:auto;
}
ul{
    list-style: none;
}
.row
{
  
    display:flex;
    flex-wrap: wrap;
}
.footer
{
   
    background-color: #580563;
    padding: 70px 0;
}
.footer-col
{
    width: 25%;
    padding: 0 15px;
    
}
.footer-col h4{
    font-size: 20px;
    color:rgb(105, 198, 198);
    text-transform:capitalize;
    margin-bottom:35px;
    font-weight: 500;
    position:relative;
    

}
.footer-col h4::before{
    content: '';
    position:absolute;
    left:0;
    bottom: -10px;
    background-color:#0a0709;
    height:2px;
    box-sizing: border-box;
    width: 50px;

}
.footer-col ul li:not(:last-child){
    margin-bottom:10px;

}
.footer-col ul li a{
    font-size:16px;
    text-transform:capitalize;
    color:#ffffff;
    text-decoration:none;
    font-weight:300;
    color:#bbbbbb;
    display:block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover
{   color:#ffffff;
    padding-left: 8px;

}
.footer-col .social-links a{
    display: inline-block;
    height:40px;
    width:40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align:center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;


}

.footer-col .social-links a:hover
{   color:#24262b;
    background-color: #ffffff;
    

}



/*responsive*/
@media(max-width: 767px)
{
    .footer-col {
        width:50%;
        margin-bottom: 30px;
    }
}


.course{
   
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
}

h1 {
    font-size: 36px;
    font-weight: 600;
    color:#242323
}

p {
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    
    flex-basis: 31%;
    background: #ede0e5;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 10px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-col img{
    width:150px;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

/* All the properties for a specific screen size can be written in one media query also */

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}



.hero-btn{
    display: inline block;
    text-decoration: none;
    color: #1c1b1b;
    border: 1px solid #232222;
    padding: 12px 39px;
    font-size: 18px;
    background: transparent;
    position: center;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #80605e;
    background: #9d8381;
    transition: 1s;
}

.text {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
